[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.8"

[packages]

# Flask
Flask = "~=1.1"
Flask-API = "~=2.0"
webargs = "~=5.5.3"
marshmallow = "~=2.15.4"

# Client
requests = "~=2.23.0"
HTTPie = "~=1.0.3"

# Storage
sh = "~=1.12.14"
YORM = "~=1.6.2"

# Utilities
minilog = "*"
markupsafe = "~=1.1.1"

# Deployment
Flask-Script = "~=2.0.6"
gunicorn = "~=19.7.1"

[dev-packages]

# Linters
pylint = "~=2.6.0"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=4.6"
pytest-describe = "*"
pytest-expecter = "*"
pytest-randomly = "*"
pytest-cov = "*"
freezegun = "*"
coveragespace = "~=4.0"

# Tooling
honcho = "*"
splinter = "~=0.14.0"
fire = "*"
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }

# Documentation
mkdocs = "==1.1.2"
