[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.12"

[packages]

# Flask
Flask = "~=2.3"
Flask-API = "~=3.1"
webargs = "~=8.7"
marshmallow = "~=3.21"
werkzeug = "~=2.3,<3"

# Client
requests = "~=2.33.0"
HTTPie = "~=1.0.3"

# Storage
sh = "~=1.12.14"
datafiles = "*"

# Utilities
minilog = "*"
markupsafe = "~=3.0"

# Deployment
Flask-Script = "~=2.0.6"
gunicorn = "~=26.0.0"

[dev-packages]

# Linters
pylint = "~=3.3.9"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=9.0.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-randomly = "*"
pytest-cov = "~=7.0.0"
freezegun = "*"
coveragespace = "~=6.1"

# Tooling
honcho = "*"
selenium = "*"
splinter = "~=0.21.0"
fire = "*"
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }

# Documentation
mkdocs = "==1.1.2"
