[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.9"

[packages]

# Flask
Flask = "~=1.1"
Flask-API = "~=2.0"
webargs = "~=5.5.3"
marshmallow = "~=2.15.4"

# Client
requests = "~=2.28.0"
HTTPie = "~=1.0.3"

# Storage
sh = "~=1.12.14"
datafiles = "*"

# Utilities
minilog = "*"
markupsafe = "~=1.1.1"

# Deployment
Flask-Script = "~=2.0.6"
gunicorn = "~=22.0.0"

[dev-packages]

# Linters
pylint = "~=3.3.9"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~=8.4.2"
pytest-describe = "*"
pytest-expecter = "*"
pytest-randomly = "*"
pytest-cov = "~=7.0.0"
freezegun = "*"
coveragespace = "~=6.1"

# Tooling
honcho = "*"
splinter = "~=0.21.0"
fire = "*"
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }

# Documentation
mkdocs = "==1.1.2"
